NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SESSION_SECRET=
RESEND_API_KEY=
ORDER_EMAIL_TO=post@aadland-service.no
ORDER_EMAIL_FROM=Aadland Service <bestilling@aadland-service.no>

ORDER_REPLY_TO=post@aadland-service.no
RESEND_PREVIEW_API_KEY=
CRON_SECRET=
NEXT_PUBLIC_SITE_URL=https://www.aadland-service.no
ADMIN_PASSWORD_RESET_SECRET=
